body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:aliceblue;

    
}
#Calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(35, 35, 35);
    color: aliceblue;


}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;


}
button{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    border: none;
    background-color: rgb(33, 33, 33);
    color: aliceblue;
    font-size: 3rem;
    cursor: pointer;

}
button:hover{
    background-color: rgb(75, 75, 75);
}
button:active{
    background-color: rgb(107, 106, 106);
}
.operator-btn{

    background-color: rgb(24, 183, 3);

}
.operator-btn:hover{

    background-color: rgb(38, 186, 19);

}
.operator-btn:active{

    background-color: rgb(29, 147, 13);

}